.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 79vh;
  background-color:  rgb(26 26 26);
  color: #c9d1d9;
  text-align: center;
  padding: 2rem;
}

.home-container h1 {
  font-size: 3.5rem;
  margin-bottom:1rem;
  color: #d07d00;
}

/* Button Styling */
.get-started-btn {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  background-color: #d07d00;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 30px;
}

.get-started-btn:hover {
  background-color: #8e5500;
}
